<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    (Copiar tal cual el url del sitio, incluyendo http://)
    <%= f.text_field :url %>
  </div>

  <br><br>


  <div class="field">
    <%= f.label :Precio %><br>
    <%= f.text_field :price %>
  </div>

  <br><br>


  <div class="field">
    <%= f.label :Título_del_post %><br>
    (Causar atención con nombre divertido, sencillo que invite a entrar)
    <%= f.text_field :title %>

  </div>
<br>
  <div class="field">
  <%= f.label :Categoría %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, 
    { prompt: 'Select a category' }, { id: 'category-select' }) %> <br><br>
    <%= f.label :Subcategoría %><br>
  <%= f.grouped_collection_select :subcategory_id, Category.all, :subcategories, 
    :name, :id, :name, { include_blank: 'Select a sub category' }, { id: 'subcategory-select' } %>
  </div>
  <br>



  <div class="field">
    <%= f.label :Imagen %><br>
    (Adjuntar imagen de buena calidad, que muestre el lado divertido del producto)
    <%= f.file_field :image %>
  </div>

<hr>



<br>
  <div class="field">
  <%= f.label :tag_list, "Tags (separated by commas)" %><br/>
  (Incluir máximo <strong>4</strong> tags separados por comas ,)
  <%= f.text_field(:tag_list, value: @post.tag_list.join(","))%>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
