<div id="breadcrum">
    <ul>
      <li><%= link_to "Inicio /", root_path %></li>
      <li><%= link_to "#{@post.category.name} /", posts_path(category: @post.category.name) %></li>
      <li><%= link_to "#{@post.subcategory.name} /", posts_path(subcategory: @post.subcategory.name) %></li>
      <li><%= link_to "#{@post.title}" %></li>
    </ul>
</div>


<div id="container">
  <div id="chow">
  <div class="row">
  <div class="col-md-9">
  <%= link_to @post.url do %>
    <div class="imagen">
      <%= link_to @post.url, target: :_blank do %>
          <%= image_tag(@post.image_url) if @post.image? %>
      <% end %>
    </div>
    <% end %>
    </div>
    <div class="col-md-3">
      <h2><%= @post.title %></h2>

      <div class="collec">
            <% if user_signed_in? %>
            <% if current_user.liked? @post %>
            <div class="derecho">
              <%= link_to dislike_post_path(@post), method: :put do %>
              <span class="fa fa-star"></span>
              <%#= post.get_downvotes.size %>
              <% end %>
            </div>
            <% else %>
            <div class="votable">
              <%= link_to like_post_path(@post), method: :put do %>
              <span class="fa fa-star-o"></span>
              <%#= post.get_upvotes.size %>
              <% end %>
            </div>
            <% end %>
            <% else %>
            <div class="votable">
              <%= link_to new_user_session_path do %>
              <span class="fa fa-star-o"></span>
              <% end %>
            </div>
            <% end %>
          </div>
      
        <h5><%= link_to @post.category.try(:name), posts_path(category: @post.category.name) %></h5>
        <h6><%= link_to @post.subcategory.try(:name), posts_path(subcategory: @post.subcategory.name) %></h6>
      <h3><%= @post.calificacion %></h3>
      <p><%= @post.description.truncate(400) %></p>

      <a href="<%= @post.url %>", target= "_blank" ><button class="button button_red button_block">$<%= @post.price %>.00 <br> Chécalo Ahora</button></a>

      <%- if @post.link_review.present? %>
      <a href="<%= @post.link_review %>", target= "_blank"><button class="button button_red button_block">Checa las reseñas</button></a>
      <% end -%>
      
    </div>
    </div>
  </div>
</div>

<div id="share">
<div class="col-md-12">
<h4>Seguro a alguien le puede encantar..</h4>
    <a class="icon-facebook" rel="nofollow"
    href="http://www.facebook.com/"
    onclick="popUp=window.open(
      'http://www.facebook.com/sharer.php?u=<%="#{request.original_url}"%>',
      'popupwindow',
      'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-facebook fa-lg face"></i>
  </a>


  <a class="icon-twitter" rel="nofollow"
  href="http://twitter.com/"
  onclick="popUp=window.open(
    'http://twitter.com/intent/tweet?text=\'<%= @post.title %>\' via Adios Quincena - <%="#{request.original_url}"%>',
    'popupwindow',
    'scrollbars=yes,width=800,height=400');
  popUp.focus();
  return false">
  <i class="fa fa-twitter fa-lg twitter"></i>
</a>


<a class="icon-pinterest" rel="nofollow"
href="http://www.pinterest.com/"
onclick="popUp=window.open(
  'http://pinterest.com/pin/create/button/?url=<%="#{request.original_url}"%>&amp;media=<%= @post.image %>&amp;description=<%= @post.title %>',
  'popupwindow',
  'scrollbars=yes,width=800,height=400');
popUp.focus();
return false">
<i class="fa fa-pinterest fa-lg you"></i>
</a>


<a class="icon-gplus" rel="nofollow"
href="http://www.plus.google.com/"
onclick="popUp=window.open(
  'https://plus.google.com/share?url=<%="#{request.original_url}"%>',
  'popupwindow',
  'scrollbars=yes,width=800,height=400');
popUp.focus();
return false">
<i class="fa fa-google-plus fa-lg you"></i>
</a>

</div>
</div>



<br><br><br>
<div class="row">
<div class="col-md-12">
<% if current_user && current_user.admin? %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: '¿Estás seguro?' } %>
<% end %>
</div>
</div>

<div id="titulo">
<div class="container">
<div class="row">
<h1>Artículos relacionados...</h1>
</div>
</div>
</div>
<br><br><br>


<div id="tres">
  <% @related_posts.each do |post| %>
    <div class="col-md-4 col-sm-6 nue">
      <div class="boxes">

      <div class="collec">
            <% if user_signed_in? %>
            <% if current_user.liked? post %>
            <div class="derecho">
              <%= link_to dislike_post_path(post), method: :put do %>
              <span class="fa fa-star"></span>
              <%#= post.get_downvotes.size %>
              <% end %>
            </div>
            <% else %>
            <div class="votable">
              <%= link_to like_post_path(post), method: :put do %>
              <span class="fa fa-star-o"></span>
              <%#= post.get_upvotes.size %>
              <% end %>
            </div>
            <% end %>
            <% else %>
            <div class="votable">
              <%= link_to new_user_session_path do %>
              <span class="fa fa-star-o"></span>
              <% end %>
            </div>
            <% end %>
          </div>


          <%= link_to post.url do %>
        <div class="imagen">
          <%= image_tag(post.image_url) if post.image? %>
        </div>
        <h4>$ <%= post.price %> <span class="fa fa-money"></span></h4>
        <hr>
        <h5><%= link_to @post.category.try(:name), posts_path(category: @post.category.name) %></h5>
        <h6><%= link_to post.category.try(:name), posts_path(category: post.category.name) %></h6>
        <%= link_to post do %>
        <h2><%= post.title.truncate(60) %></h2>
        <p><%= post.description.truncate(120) %></p>
        <% end %>
        
        <div class="finales">
          <ul>
            <li><h5>#<%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join('    #') %></h5></li>
          </ul>
          <h3><%= post.calificacion %></h3>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>




