<!DOCTYPE html>
<html>
<head>
  <title>Adios quincena</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://use.fontawesome.com/8e56b09395.js"></script>
</head>
<body>

<% if alert %>
	<p class="alert"><%= alert %></p>
<% elsif notice %>
	<p class="notice"><%= notice %></p>
<% end %>


<header class="cd-auto-hide-header">
  <div class="logo"><a href="<%= root_path %>"><%= image_tag ("logo.png")%></a></div>

  <nav class="cd-primary-nav">
    <a href="#cd-navigation" class="nav-trigger">
      <span>
        <em aria-hidden="true"></em>
        Menu
      </span>
    </a> <!-- .nav-trigger -->

    <ul id="cd-navigation">
      <% if user_signed_in? %>
      <li class="mini <%= 'active' if current_page?(edit_user_registration_path) %>">
        <a href="<%= edit_user_registration_path(@user) %>">Mi perfil</a>
      </li>
      <li class=" mini gol <%= 'active' if current_page?(favorites_posts_path) %>"><a href="<%= favorites_posts_path %>">Mis favoritos</a></li>
      <li class="mini"> <a href="<%= destroy_user_session_path %>" data-method='delete'>
        Cerrar Sesión
      </a></li>

      <% if current_user && current_user.admin? %>
      <li class= mini "<%= 'active' if current_page?(new_post_path) %>"><%= link_to 'Nuevo Post', new_post_path %></li>
      <% end %>
      <% else %>
      <li class="mini"><a href="<%= new_user_session_path %>"> Iniciar Sesión </a></li>
      <li class="mini"><%= link_to "iniciar sesión con Facebook", user_facebook_omniauth_authorize_path %></li>
      <li class="mini"><a href="<%= new_user_registration_path %>"> Registrarse </a></li>
      <% end %> 

      <hr class="visible-sm visible-xs">

    <li>
      <%= form_tag search_posts_path, method: :get, role: "search" do %>
      <%= text_field_tag :search, params[:search], class: "form-control formatito", id: "k", placeholder: "Buscar..." %>
      </li>
      <li>
      <%= submit_tag "Buscar", name: nil, class: "button button_red hidden-sm hidden-xs", id: "s" %>
      <%= submit_tag "Buscar", name: nil, class: "button button_red button_block visible-sm visible-xs", id: "s" %>
    <% end %>
    <br class="visible-sm visible-xs">
    </li>
    </ul>
  </nav> <!-- .cd-primary-nav -->
</header> <!-- .cd-auto-hide-header -->

<section class="cd-hero">
  <div class="cd-hero-content">
    <!-- your content here -->
  </div>
</section> <!-- .cd-hero -->



<nav class="cd-secondary-nav">
  <ul>
  <% Category.all.each do |category| %>
        <li><%= link_to category.name, posts_path(category: category.name) %></li>
        <% end %>
  </ul>
</nav> <!-- .cd-secondary-nav -->

<main class="cd-main-content sub-nav-hero">
  <div class="col-sm-10">
    <%= yield %>
  </div>
  <div class="col-sm-2" id="tagin">
      <ul>
  <% tag_cloud Post.tag_counts.order('count DESC').limit(13), %w[s m l] do |tag, css_class| %>
    <li> <%= link_to tag.name, tag_path(tag.name), class: css_class %> </li>
  <% end %>
  </ul>
  </div>
</main>















</body>
</html>
